#leaveMgmt{
    border: 0px solid black;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
#leaveMgmt p{
    font-size: 40px;
    font-weight: bold;
}
#mgmtBtn{
    display: flex;
    justify-content: space-around;
}
#mgmtBtn button{
    background-color:#4318ff;
    color: white;
    width: 40%;
}

.HODcalenderTrue{
    border: 0px solid black;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}
.HODcalenderFalse{
    border: 0px solid black;
    width: 60%;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selectForward{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#forwardedLeave{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
/* #selectLeaveType{
    border: 0px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
#selectLeaveType p{
    font-size: 25px;
    font-weight: bold;
} */
.forwardTableTrue{
    display: block;
}
.forwardTablefalse{
    display: none;
}